<div class="root" fxLayout="row" fxLayoutAlign="center center">
  <ng-container [ngSwitch]="state">
    <form #form="ngForm" (ngSubmit)="shorten()" *ngSwitchCase="ShortenerState.START" fxFlex="50" fxLayout="row"
      fxLayoutAlign="space-between center" fxLayoutGap="8px" @appearDisappear autocomplete="off">
      <mat-form-field fxFlex>
        <input matInput placeholder="URL" name="content" [(ngModel)]="content" #contentModel="ngModel" validUrl
          autofocus>
        <mat-error *ngIf="content && contentModel.hasError('invalidUrl')">Invalid URL</mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Shorten</button>
    </form>

    <div *ngSwitchCase="ShortenerState.AWAITING_RESPONSE" fxFlex="50" fxLayout="row" fxLayoutAlign="center center"
      @appearDisappear>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngSwitchCase="ShortenerState.LINK_RECEIVED" fxFlex="50" fxLayout="row" fxLayoutAlign="center center"
      fxLayoutGap="8px" @appearDisappear>
      <mat-form-field fxFlex>
        <input matInput #shortUrlInput [value]="shortUrl" (click)="shortUrlInput.select()" readonly>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="copyInputContents(shortUrlInput)">Copy</button>
    </div>
  </ng-container>
</div>
