@import 'styles/mixins';

.root {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile-landscape {
    margin-top: 100px;
  }

  & > * {
    flex-basis: 50%;
    width: 50%;
    min-width: 500px;
    height: 70px;

    @include mobile-portrait {
      flex-basis: 80%;
      width: 80%;
      min-width: 0;
      height: 100px;
    }
  }
}

.shorten-form, .shorten-response {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-form-field {
    flex: 1 1;
    padding-right: 8px;
  }
 
  @include mobile-portrait {
    flex-wrap: wrap;

    & > * {
      flex-basis: 100%;
    }

    mat-form-field {
      padding-right: 0;
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
