/*
shade 0 = #AA7B39
shade 1 = #FFDBA7
shade 2 = #EBBA74
shade 3 = #694512
shade 4 = #271700
*/

body {
    background-color: #333333;
    /*background-color: #AA7B39;*/
}

.center {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#result {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

#result a {
    /*color: #FFDBA7;*/
    color: #BBBBBB;
    text-decoration: none;
}

#result p {
    /*color: #FFDBA7;*/
    color: #BBBBBB;
    cursor: pointer;
}

.url-button {
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    height: 32px;
    line-height: 32px;
    padding: 0px 6px;
    /*background-color: #694512;*/
    background-color: #555555;
    /*color: #EBBA74;*/
    color: #DDDDDD;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    cursor: pointer;
}

.url-textbox {
    width: 50%;
    height: 28px;
    font-size: 25px;
    /*background-color: #FFDBA7;*/
    background-color: #BBBBBB;
    border: none;
    padding: 2px;
    outline: none;
}
