<div class="root">
  <p class="anonymous-warning" *ngIf="isAnonymous">
    You are not signed in. Below are the links you have recently created, but they might not always be accessible here.
    Sign in to claim your links and be able to manage them permanently.
  </p>
  <mat-list *ngIf="links$ | async as links">
    <ng-container *ngFor="let link of links; let isFirst = first">
      <mat-divider *ngIf="!isFirst"></mat-divider>
      <mat-list-item>
        <h4 matLine>{{ baseUrl }}/{{ link.short }}</h4>
        <p matLine>{{ link.content }}</p>
        <p matLine>Hits: {{ link.hits || 0 }}</p>
        <button mat-icon-button matTooltip="Copy to clipboard" [copyAndNotify]="baseUrl + '/' + link.short">
          <mat-icon>link</mat-icon>
        </button>
        <!-- <button mat-icon-button matTooltip="Disable link">
          <mat-icon>block</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Delete link">
          <mat-icon>delete</mat-icon>
        </button> -->
      </mat-list-item>
    </ng-container>
  </mat-list>
</div>
