.root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-list, mat-expansion-panel {
  width: 100%;
  max-width: 600px;
}

mat-expansion-panel {
  margin-top: 50px;
}

.tip {
  margin-left: 16px;
  margin-right: 16px;
  max-width: 568px;

  font-size: 14px;
  font-style: italic;
}

.delete-spinner {
  margin: 0 10px;
}
