// Material theme
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';

@include mat-core();

$theme-primary: mat-palette($mat-pink);
$theme-accent: mat-palette($mat-deep-purple);
$theme: mat-dark-theme($theme-primary, $theme-accent);
@include angular-material-theme($theme);

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}
